{
  "openapi": "3.1.0",
  "info": {
    "title": "Ashicore Agent Production Planning API",
    "version": "1.0.0",
    "description": "Read-only raw production data for external AI assistants."
  },
  "servers": [
    {
      "url": "https://ashicore.app"
    }
  ],
  "paths": {
    "/api/agent/production-planning/context": {
      "get": {
        "operationId": "getProductionPlanningContext",
        "summary": "Get production planning context",
        "description": "Returns raw production data: open sales orders, open MOs, product counts, and product requirements.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "agentBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "includePlanningFacts",
            "in": "query",
            "required": false,
            "description": "Reserved for compatibility.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeLots",
            "in": "query",
            "required": false,
            "description": "Reserved for compatibility.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current raw production data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProductionRawContext"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked, or expired agent API token."
          },
          "403": {
            "description": "The token does not have production-planning read scope."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "agentBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use an Ashicore agent API token generated from the ERP. In ChatGPT Actions, configure authentication as API Key or Bearer token so requests send Authorization: Bearer <token>."
      }
    },
    "schemas": {
      "AgentProductionRawContext": {
        "type": "object",
        "required": [
          "generatedAt",
          "today",
          "openSalesOrders",
          "openManufacturingOrders",
          "productCounts",
          "productRequirements"
        ],
        "properties": {
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "today": {
            "type": "string",
            "format": "date",
            "description": "Current business date for the organization."
          },
          "openSalesOrders": {
            "type": "array",
            "description": "Open sales orders with dates, line quantities, and allocation state.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "openManufacturingOrders": {
            "type": "array",
            "description": "Open manufacturing orders that represent existing production supply.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "productCounts": {
            "type": "array",
            "description": "Current sellable product counts plus open sales demand and open MO supply by product.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "productRequirements": {
            "type": "array",
            "description": "Top-level requirements for products on open sales orders, including constraints such as minimum lot age.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      }
    }
  }
}
