{
  "openapi": "3.1.0",
  "info": {
    "title": "Ashicore Agent Production Planning API",
    "version": "1.0.0",
    "description": "Read-only production-planning context for external AI assistants. The ERP remains authoritative for planning calculations; this API returns the current board state and planning facts for reasoning."
  },
  "servers": [
    {
      "url": "https://ashicore.app"
    }
  ],
  "paths": {
    "/api/agent/production-planning/context": {
      "get": {
        "operationId": "getProductionPlanningContext",
        "summary": "Get production planning context",
        "description": "Returns a compact Markdown production-planning brief by default. Use format=json only for debugging or full-context clients. Read-only: does not create manufacturing orders, purchase orders, allocations, or inventory events.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "agentBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Defaults to markdown, which is the recommended compact format for ChatGPT and Claude.",
            "schema": {
              "type": "string",
              "enum": [
                "markdown",
                "json"
              ],
              "default": "markdown"
            }
          },
          {
            "name": "includePlanningFacts",
            "in": "query",
            "required": false,
            "description": "JSON-only. When false, omits large planning fact arrays. Ignored for markdown, which is always compact.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeLots",
            "in": "query",
            "required": false,
            "description": "JSON-only. When false, returns inventory items without lot detail. Ignored for markdown, which is always compact.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current production-planning context. Markdown is the default compact agent brief; JSON is available with format=json.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Compact production-planning brief with counts, allocate-now queue, make/buy recommendations, setup reviews, blockers, and read-only rules."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProductionPlanningContext"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, revoked, or expired agent API token."
          },
          "403": {
            "description": "The token does not have production-planning read scope."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "agentBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use an Ashicore agent API token generated from the ERP. In ChatGPT Actions, configure authentication as API Key or Bearer token so requests send Authorization: Bearer <token>."
      }
    },
    "schemas": {
      "AgentProductionPlanningContext": {
        "type": "object",
        "required": [
          "orgId",
          "generatedAt",
          "inputHash",
          "summary",
          "attentionQueue",
          "salesOrders",
          "manufacturingOrders",
          "purchaseOrders",
          "inventory",
          "allocations",
          "decisionSupport",
          "planning",
          "allowedNextActions"
        ],
        "properties": {
          "orgId": {
            "type": "string"
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "inputHash": {
            "type": "string",
            "description": "Stable hash for the planning inputs. Future write workflows should compare against this before acting."
          },
          "summary": {
            "type": "object",
            "additionalProperties": true
          },
          "attentionQueue": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "salesOrders": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "manufacturingOrders": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "purchaseOrders": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "inventory": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Inventory context. availableQty is current usable on-hand after reservations; projectedQty is planning-derived future net quantity. Inventory-lot allocations and manufacturing-output allocations are split into separate fields.",
              "additionalProperties": true
            }
          },
          "allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "decisionSupport": {
            "type": "object",
            "description": "Agent-facing decision indexes: a sorted decision queue, allocation needs, and make/buy/review recommendations without price data or draft action payloads.",
            "required": [
              "decisionQueue",
              "allocationNeeds",
              "supplyRecommendations"
            ],
            "properties": {
              "decisionQueue": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "allocationNeeds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "supplyRecommendations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "additionalProperties": false
          },
          "planning": {
            "type": "object",
            "description": "ERP planning snapshot, including horizon, assumptions, rows, facts, recommendations, blockers, paths, warnings, and inputHash. Agent output omits cost fields, draft action payloads, and per-parent recipe ratios.",
            "additionalProperties": true
          },
          "allowedNextActions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      }
    }
  }
}
